USE [master]
GO
/****** Object:  Database [CropDeal]    Script Date: 10/20/2022 8:38:07 PM ******/
CREATE DATABASE [CropDeal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CropDeal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CropDeal.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CropDeal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CropDeal_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CropDeal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CropDeal]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 10/20/2022 8:38:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(600,1) NOT NULL,
	[AdminEmail] [varchar](50) NOT NULL,
	[AdminPassword] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CropOnSale]    Script Date: 10/20/2022 8:38:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CropOnSale](
	[CropAdID] [int] IDENTITY(300,1) NOT NULL,
	[CropName] [varchar](50) NOT NULL,
	[CropType] [varchar](50) NOT NULL,
	[CropQty] [int] NOT NULL,
	[CropPrice] [decimal](18, 0) NOT NULL,
	[FarmerID] [int] NOT NULL,
	[CropId] [int] NOT NULL,
 CONSTRAINT [PK_CropOnSale] PRIMARY KEY CLUSTERED 
(
	[CropAdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Crops]    Script Date: 10/20/2022 8:38:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Crops](
	[CropID] [int] IDENTITY(1,1) NOT NULL,
	[CropName] [varchar](50) NOT NULL,
	[CropImage] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Crops] PRIMARY KEY CLUSTERED 
(
	[CropID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 10/20/2022 8:38:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(5000,1) NOT NULL,
	[DealerAccNumber] [int] NOT NULL,
	[FarmerAccNumber] [int] NOT NULL,
	[CropName] [varchar](50) NOT NULL,
	[CropType] [varchar](50) NOT NULL,
	[CropQty] [int] NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[OrderTotal] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Invoices_1] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 10/20/2022 8:38:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserProfile](
	[UserID] [int] IDENTITY(100,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[UserAddress] [varchar](250) NOT NULL,
	[UserPhnumber] [varchar](20) NOT NULL,
	[UserEmail] [varchar](50) NOT NULL,
	[UserPasswordHash] [varbinary](max) NULL,
	[UserPasswordSalt] [varbinary](max) NOT NULL,
	[UserAccnumber] [int] NOT NULL,
	[UserIFSC] [varchar](20) NOT NULL,
	[UserBankName] [varchar](50) NOT NULL,
	[UserType] [varchar](20) NOT NULL,
	[UserStatus] [varchar](20) NULL CONSTRAINT [DF_UserProfile_UserStatus]  DEFAULT ('ACTIVE'),
 CONSTRAINT [PK_UserProfile_1] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_UserProfile] UNIQUE NONCLUSTERED 
(
	[UserAccnumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CropOnSale]  WITH CHECK ADD  CONSTRAINT [FK_CropOnSale_CropId] FOREIGN KEY([CropId])
REFERENCES [dbo].[Crops] ([CropID])
GO
ALTER TABLE [dbo].[CropOnSale] CHECK CONSTRAINT [FK_CropOnSale_CropId]
GO
ALTER TABLE [dbo].[CropOnSale]  WITH CHECK ADD  CONSTRAINT [FK_CropOnSale_CropOnSale] FOREIGN KEY([FarmerID])
REFERENCES [dbo].[UserProfile] ([UserID])
GO
ALTER TABLE [dbo].[CropOnSale] CHECK CONSTRAINT [FK_CropOnSale_CropOnSale]
GO
ALTER TABLE [dbo].[Crops]  WITH CHECK ADD  CONSTRAINT [FK_Crops_Crops] FOREIGN KEY([CropID])
REFERENCES [dbo].[Crops] ([CropID])
GO
ALTER TABLE [dbo].[Crops] CHECK CONSTRAINT [FK_Crops_Crops]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Farmer] FOREIGN KEY([FarmerAccNumber])
REFERENCES [dbo].[UserProfile] ([UserAccnumber])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Farmer]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_UserProfile] FOREIGN KEY([DealerAccNumber])
REFERENCES [dbo].[UserProfile] ([UserAccnumber])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_UserProfile]
GO
USE [master]
GO
